<div align='center'><h1>Edit Skater Profile</h1></div>

<div style="margin-left:15px;">

	<%= render 'form' %>

</div>

<div align='center'><%= link_to 'Home', controller: 'welcome' %>
	<%= link_to 'New Skater', new_skater_path %>
	<%= link_to 'New Video', new_skate_video_path %>
	<%= link_to 'All Skaters', skaters_path %></div>