<div style="margin-left:15px;">

	<h2><%= @skater.fullname %></h2>

	<div class="media">
		<div class="media-body">
			<table class="table table-hover">
				<tr>
					<td>Age:</td>
					<td><%= @skater.age(@skater.dob) %></td>
				</tr>
				<tr>
					<td>From:</td>
					<td><%= @skater.origin %></td>
				</tr>
				<tr>
					<td>Stance:</td>
					<td><% if @skater.stance == 1 %>Regular
							<% elsif @skater.stance == 2 %>Goofy
							<% else %>Missing
						<% end %>
					</td>
				</tr>
				<tr>
					<td>Status:</td>
					<td><% if @skater.status == 1 %>Professional
							<% elsif @skater.status == 2 %>Amateur
							<% elsif @skater.status == 3 %>Flow
							<% else %>Missing
						<% end %>
					</td>
				</tr>
				<tr>
					<td>Height:</td>
					<td><%= @skater.height %> in </td>
				</tr>
				<tr>
					<td>Weight:</td>	
					<td><%= @skater.weight %> lbs </td>
				</tr>
			</table>
		</div>
	</div>

	<p style="margin-bottom:50px;"></p>

	<h4>Video Parts</h4>
	<div class="media">
		<div class="media-body">
			<table class="table table-hover">
				<thead>
						<td>Part Number</td>
						<td>Skate Video</td>
						<td>Artist</td>
						<td>Song</td>
						<td>Runtime</td>
				</thead>
				<tbody>
					<% @skater.video_parts.each do |video_part| %>
						<tr>
							<td><%= video_part.id %></td>
							<td><% if video_part.videoname == nil %>Missing
									<% else %><%= video_part.videoname %>
								<% end %></td>
							<td><%= video_part.artist %></td>
							<td><%= video_part.song %></td>
							<td><%= video_part.runtime %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>

	<p style="margin-bottom:50px;"></p>

	<h5>Add New Video Part</h5>

	<div class="media">
		<div class="media-body">
			<table class="table">
				<%= form_for([@skater, @skater.video_parts.build]) do |f| %>
				<tr>
					<td><%= f.label :videoname %></td>
					<td><%= f.text_field :videoname %></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td><%= f.label :artist %></td>
					<td><%= f.text_field :artist %></td>
					<td><%= f.label :song %></td>
					<td><%= f.text_field :song %></td>
				</tr>
				<tr>
					<td><%= f.label :runtime %></td>
					<td><%= f.text_field :runtime %></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td><%= f.submit %></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>

<div align='center'>
		<%= link_to 'Back', skaters_path %>
</div>

<p style="margin-top:35px;"></p>